
.container {
    width: 500px;
    margin: 50px auto 0;
    padding: 1px;
	
}

.line {
    height: 10px;
    min-width:80px;
    margin: 0 auto 10px;
    line-height:20px;
    font-size: 14px;
    color:#343a40;
    padding: 0 0 0 10px;
    position: relative;
    list-style: none;
    margin: 3px 0;
    font-weight: 100; 
    text-align: right;  
}

.line:before {
    content: "";
    position: absolute;
    top: 20; 
    left: 0;
    width: 102%;
    height: 20px;
    background-color:#d2d6d7;
    border-radius: 1000px;
    z-index: -2;
}

.line:after {
    content: "";
    position: absolute;
    top: 20;
    left: 0;
    width: 0;
    height: 20px;
    background-color: #937DB4;
    border-radius: 1000px;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: -2;
}



.line.html:after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 80%;
    }
}

.line.stp:after {
    animation-name: stp;
}

@keyframes stp {
    to {
        width: 90%;
    }
}


.line.java:after {
    animation-name: java;
}

@keyframes java {
    to {
        width: 70%;
    }
}

.line.selenium:after {
    animation-name: selenium;
}

@keyframes selenium {
    to {
        width: 70%;
    }
}


.line.sql:after {
    animation-name: sql;
}

@keyframes sql {
    to {
        width: 85%;
    }
}

.line.work-style:after {
    animation-name: work-style;
}

@keyframes work-style {
    to {
        width: 102%;
    }
}

.line.Postman:after {
    animation-name: Postman;
}

@keyframes Postman {
    to {
        width: 75%;
    }
}

